<ion-view view-title="Start" align-title="left" hide-nav-bar="true">
    <ion-content class="bureo-background-2">
        <div class="logo-container">
            <div class="bureo-logo"></div>
        </div>
        <div class="padding login-buttons">
            <!-- <button class="button button-full button-assertive login-button facebook-login"  disabled="disabled">Facebook</button>
            <button ui-sref="app.home" class="button button-full button-assertive login-button google-login" disabled="disabled">Google</button>
             -->
            <button ui-sref="app.signup" class="button button-full login-button sign-up-button">Crea tu cuenta</button>
            <button ui-sref="app.login" class="button button-full login-button sign-up-button">ENTRAR</button>
            <!-- <button class="button button-full login-button sign-up-button" ng-click="test()">TEST</button> -->
        </div>
        <div class="row">
            <div class="col col-center text-center">
                <h2>¡Esto se va a poner bien!</h2>
            </div>
        </div>        
    </ion-content>
</ion-view>