<ion-view view-title="Mis Parties" cache-view="false">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <ion-refresher pulling-text="Actualizar Mis Parties..." on-refresh="refreshMyParties()">
    </ion-refresher>
    <div>
      <a class="item">
        Tus futuras Parties
      </a>
    </div>
    <div class="list">
      <!-- <a ng-repeat="party in parties" class="item item-thumbnail-left item-bureo" ui-sref="app.partylocals.partylocal({id:{{party.id}}})"> -->
      <!-- <a ng-repeat="party in parties" class="item item-thumbnail-left item-bureo" ui-sref="app.myParties.attendance({id:{{party.id}}})" ng-click="verModalBureanoPartylocal({{party.id}})"> -->
      <a ng-repeat="party in parties" class="item item-thumbnail-left item-bureo" ui-sref="app.myParties.attendance({id:party.id})">
        <img ng-src="{{party.avatar}}">
        <h2>{{party.nombre}}</h2>
        <p>{{party.descripcion}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>